In [25]:
%matplotlib inline
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

In [26]:
#Reading the dataset 
dataset = pd.read_csv('./dly1875.csv')
dataset

,date,ind,maxtp,ind.1,mintp,igmin,gmin,ind.2,rain,cbl,wdsp,ind.3,hm,ind.4,ddhm,ind.5,hg
0,26/02/2010,0,7.6,0,1.8,,,0,0.1,983.8,8.3,0,14,0,230,0,20
1,27/02/2010,0,8.6,0,-2.4,,,0,0.1,985,4.3,0,9,0,170,0,14
2,28/02/2010,0,8.8,0,-3.3,,,0,0.0,992.9,4.9,0,17,0,290,0,24
3,01/03/2010,0,10.0,0,-4.3,,,0,0.0,1006.3,2.3,0,6,0,50,0,8
4,02/03/2010,0,8.2,0,-1.8,,,0,0.0,1014.4,7.1,0,12,0,120,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3988,27/01/2021,0,10.9,0,8.2,0,6.5,0,8.3,998.6,3.6,0,10,0,190,0,16
3989,28/01/2021,0,11.4,0,8.2,0,8.6,0,9.0,989.4,9.9,0,17,0,230,0,28
3990,29/01/2021,0,11.3,0,5.7,0,6.2,0,1.8,991.2,6.7,0,16,0,80,0,23
3991,30/01/2021,0,7.0,0,3.9,0,2.5,0,12.1,991,14.0,0,19,0,70,0,30
3992,31/01/2021,0,6.2,0,2.9,0,2.6,0,8.4,989,10.2,0,16,0,90,0,24

In [27]:
#Displaying columns in dataset
print("Column names:")
for col in dataset.columns:    
    print(col)

Column names:
date
ind
maxtp
ind.1
mintp
igmin
gmin
ind.2
rain
cbl
wdsp
ind.3
hm
ind.4
ddhm
ind.5
hg

In [28]:
#Dropping the unnesscary columns in the dataset
dataset = dataset.drop(columns=['date','ind','ind.1','ind.2','ind.3','ind.4','ind.5','igmin','gmin','hg',])
dataset

      maxtp  mintp  rain     cbl  wdsp  hm  ddhm
0       7.6    1.8   0.1   983.8   8.3  14   230
1       8.6   -2.4   0.1     985   4.3   9   170
2       8.8   -3.3   0.0   992.9   4.9  17   290
3      10.0   -4.3   0.0  1006.3   2.3   6    50
4       8.2   -1.8   0.0  1014.4   7.1  12   120
...     ...    ...   ...     ...   ...  ..   ...
3988   10.9    8.2   8.3   998.6   3.6  10   190
3989   11.4    8.2   9.0   989.4   9.9  17   230
3990   11.3    5.7   1.8   991.2   6.7  16    80
3991    7.0    3.9  12.1     991  14.0  19    70
3992    6.2    2.9   8.4     989  10.2  16    90

[3993 rows x 7 columns]

In [29]:
#Moving rain column to the end of dataset
cols_at_end = ['rain']
dataset = dataset[[c for c in dataset if c not in cols_at_end] 
        + [c for c in cols_at_end if c in dataset]]
dataset

      maxtp  mintp     cbl  wdsp  hm  ddhm  rain
0       7.6    1.8   983.8   8.3  14   230   0.1
1       8.6   -2.4     985   4.3   9   170   0.1
2       8.8   -3.3   992.9   4.9  17   290   0.0
3      10.0   -4.3  1006.3   2.3   6    50   0.0
4       8.2   -1.8  1014.4   7.1  12   120   0.0
...     ...    ...     ...   ...  ..   ...   ...
3988   10.9    8.2   998.6   3.6  10   190   8.3
3989   11.4    8.2   989.4   9.9  17   230   9.0
3990   11.3    5.7   991.2   6.7  16    80   1.8
3991    7.0    3.9     991  14.0  19    70  12.1
3992    6.2    2.9     989  10.2  16    90   8.4

[3993 rows x 7 columns]

In [30]:
#Save the cleaned dataset 
dataset.to_csv('Athenry2010-2021.csv')